absl-py==2.0.0
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
bitarray==2.8.3
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
Cython==3.0.5
decorator==5.1.1
fairseq @ git+https://github.com/One-sixth/fairseq.git@44800430a728c2216fd1cf1e8daa672f50dfacba
faiss-cpu==1.7.3
fastapi==0.104.1
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.13.1
fonttools==4.44.3
frozenlist==1.4.0
fsspec==2023.10.0
future==0.18.3
google-auth==2.23.4
google-auth-oauthlib==1.1.0
gradio==3.14.0
grpcio==1.59.2
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
hydra-core==1.3.2
idna==3.4
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonschema==4.19.2
jsonschema-specifications==2023.11.1
kiwisolver==1.4.5
librosa==0.9.1
linkify-it-py==2.0.2
llvmlite==0.41.1
lxml==4.9.3
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.4
networkx==3.2.1
numba==0.58.0
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.3.0
orjson==3.9.10
packaging==23.2
pandas==2.1.3
Pillow==10.1.0
platformdirs==4.0.0
pooch==1.8.0
portalocker==2.8.2
praat-parselmouth==0.4.3
protobuf==4.23.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.5.1
pydantic_core==2.14.3
pydub==0.25.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytz==2023.3.post1
pywin32==306
pyworld==0.3.4
PyYAML==6.0.1
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
resampy==0.4.2
rfc3986==1.5.0
rpds-py==0.12.0
rsa==4.9
sacrebleu==2.3.2
scikit-learn==1.3.2
scipy==1.9.3
six==1.16.0
sniffio==1.3.0
soundfile==0.12.1
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
toolz==0.12.0
torch==2.1.1+cu121
torchaudio==2.1.1
torchcrepe==0.0.20
torchvision==0.16.1+cu121
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
typing_extensions==4.8.0
tzdata==2023.3
uc-micro-py==1.0.2
urllib3==2.1.0
uvicorn==0.24.0.post1
websockets==12.0
Werkzeug==3.0.1
yarl==1.9.2
